<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/filtre.css">
</head>
<body>
    <div class="grille-accueil">

        <%- include('partials/navbar') %>

        <%- include('partials/blogIndex') %>

        <%- include('partials/slider') %>

        <%- include('partials/recetteButton') %>

        <%- include('partials/coleusButton') %>

        <%- include('partials/footer') %>

        

    </div>


    <script src="js/script.js"></script>
    <script src="js/textAnimation.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/particul_config.js"></script>

    


    



</body>
</html>